
.panel {
  width: 70%;
  
  margin: 10px auto;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px;
  background: #094b5e;
  
}

body {
  display: grid;
  grid-template-rows: 1fr max-content;
  margin: 0;
  min-width: 160px;
  background: #01242e;
}


form{
  font-family: Garamond;
  text-align: center;
  height:100%;
  width:100%}

form fieldset{
  background: linear-gradient(140deg, rgb(248, 249, 250) 0%, rgb(211, 242, 250) 100%); 
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

form fieldset div input{
  margin-bottom: 10px;
  margin-top:4px
}

form fieldset input[type="text"]{
  width: 50%;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
}

form fieldset input[type="text"]:hover {
  background-color: antiquewhite;
}

form fieldset input[type="text"]:active{
  background-color: rgb(247, 208, 158);
}



h1{
  margin-top: 5px;
  text-shadow: 1px 3px 5px #0d0229;
  
}

textarea {
  padding:10px;
  border-radius: 5px;
  background-color: bisque;
width:80%;
height:300px;
font-size: 18px;
font-family: Serif;
}

.botoes{
  font-size: 15px;;
  padding:5px;
  border: 2px solid #094b5e;
  border-radius: 4px;
}

.botoes:hover {
  background-color: rgb(66, 153, 153);
  cursor: pointer;
}



@media screen and (max-width: 1120px) {
 .panel {
         width:90%;
 }
 textarea {height:400px;}
}

@media screen and (max-width: 750px) {
  form fieldset input[type="text"]{
    width: 70%;
  }
  textarea {height: 500px;}
 }